<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CorgPredicts</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style>
        html{
            scroll-behavior:smooth;
        }
        header {
            padding: 156px 0 100px;
        }
        
        section {
            padding-bottom: 75px;
            padding-top: 75px;
        }
        
        .tableRow {
            display: none;
        }
        th:hover{
            background-color: lavender !important;
            cursor: pointer;
        }
    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">CorgPredicts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">2020 Predictions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/2019/">2019 Predictions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to CorgPredicts</h1>
            <p class="lead">This page hosts information about the statistical model used to create my March Madness bracket for the 2020 tournament.</p>
        </div>
    </header>

    <!-- Button trigger modal
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="head2head" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Head to Head Stats</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3 id="team1">...</h3>
              <h3 id="team2">...</h3>
              <h2 style="margin-top:25px;" id="winner">Winner: Meatball?</h2>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div data-type="countdown" data-id="1811500" class="tickcounter" style="width: 80%;  padding-bottom: 10px; padding-top: 10px; margin-left:auto; margin-right:auto; display: block">
    <a href="//www.tickcounter.com/countdown/1811500/bracket-released" title="Bracket Released">Bracket Released</a>
    <a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div>
    <script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
    
    <section id="predictions" style="padding-top: 50px;">
        <div class="container">
            <h1 style="margin-bottom:25px;"><%= year%> March Madness Predictions</h1>
            <h5>Click any column's header to sort that column, click again to reverse the order!</h5>
            <h5>Click any two team names to view head to head stats.</h5>

		<div class="table-responsive">    
		<table class="table table-hover table-striped" style="margin-top:25px;">
		        <thead class="thead-light">
		            <tr>
		                <th scope="col">Team</th>
				<th scope="col">Expected Tournament Wins</th>
		                <th scope="col">First Round</th>
		                <th scope="col">Second Round</th>
		                <th scope="col">Sweet Sixteen</th>
		                <th scope="col">Elite Eight</th>
		                <th scope="col">Final Four</th>
		                <th scope="col">March Madness Champion</th>
		            </tr>
		        </thead>

		        <!-- The table body is filled on a loop from the backend-->
		        <tbody>
		            <%	let i = 0; 
					    tableData.forEach(function(td){ %>
		                <tr class="<%if (i>10) {%>tableRow<%}%>">
		                    <td class="team-name">
		                        <%= td.team %>
                                <span style="display: none;"><%= td.team_stat%></span>
		                    </td>
                            <td>
		                        <%= td.r1 %></td>
		                    <td>
		                        <%= td.r2 %>%</td>
		                    <td>
		                        <%= td.r3 %>%</td>
		                    <td>
		                        <%= td.r4 %>%</td>
		                    <td>
		                        <%= td.r5 %>%</td>
		                    <td>
		                        <%= td.r6 %>%</td>
				    <td>
		                        <%= td.r7 %>%</td>
		                </tr>
		                <% i++}) %>
		                    <!-- End backend loop-->

		        </tbody>
		    </table>
		</div>
            <button id="showAllRows" type="button" class="btn btn-link" onclick="toggleRows()">Show all teams</button>
        </div>
    </section>

    <!-- Edit the about section for CORG's wishes-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col mx-auto">
                    <h2>About the model</h2>
                    <p class="lead">CorgPredicts March Madness predictions were created by running a backwards stepwise regression on regular season data to predict how many wins a team is expected to have in the tournament.</p>
                    <p class="lead">The model was trained on data from 2015 to 2018, which predicted the 2019 tournament with a success rate of 84.1%, or 53 out of 63 picks made correctly. CorgPredicts assessed each matchup in the tournament and selected the team with the higher expected tournament wins to move on to the next round. The probability of winning a game was calculated by Z-normalizing the expected tournament wins, which was used to compare teams matched against each other and calculate the probability of each team winning.</p>
                    <p class="lead">Each round following is calculated by a series of conditional probabilities which account for the probability of the given team making it to the round, with the probability of any other team making it to the round against them, multiplied with the probability of each respective team winning against each other.</p>
                    <p class="lead">All data was accessed from sports-reference.com</p> 
		    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin-top: 50px; margin-bottom:15px;">

                        <input type="hidden" name="cmd" value="_donations" />

                        <input type="hidden" name="business" value="cspencecanoe@gmail.com" />

                        <input type="hidden" name="currency_code" value="CAD" />

                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />

                        <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />

                        </form>
                    <p>Support CorgPredicts.com by making a small donation.</p>

                </div>
            </div>

           <div class="row" style="margin-top:150px;">
            <div class="col mx-auto">
                <div class="card mx-auto" style="width: 18rem;">
                  <img src="/images/craig_headshot.jpg" class="card-img-top" alt="Headshot">
                  <div class="card-body">
                    <h5 class="card-title">Craig Spence</h5>
                    <p class="card-text">Statistics / Computer Science Student at Dalhousie University</p>
                    <a href="https://ca.linkedin.com/in/craig-spence-85905819a" class="btn btn-primary">LinkedIn</a>
                  </div>
                </div>
            </div>
            <div class="col mx-auto" style="padding-top:50px;">
                <h2>About Craig</h2>
                <p>Craig Spence is a Statistics & Computer Science Student at Dalhousie University, as well as a member of the Canadian National Canoe Team.</p>
                <p>Craig developed the CorgPredicts data model and used it to make predictions for the upcoming 2020 March Madness tournament.</p>
            </div>
           </div>

            <div class="row" style="margin-top:50px;">
                <div class="col mx-auto">
                    <div class="card mx-auto" style="width: 18rem;">
                      <img src="/images/matt_headshot.jpeg" class="card-img-top" alt="Headshot">
                      <div class="card-body">
                        <h5 class="card-title">Matt Peachey</h5>
                        <p class="card-text">Third Year Computer Science Student at Dalhousie University.</p>
                        <a href="https://ca.linkedin.com/in/matt-peachey-02bb11152" class="btn btn-primary">LinkedIn</a>
                      </div>
                    </div>
                </div>
                <div class="col mx-auto" style="padding-top:50px;">
                    <h2>About Matt</h2>
                    <p>Matt Peachey is a 3rd year Computer Science student at Dalhousie University in Halifax, Nova Scotia.</p>
                    <p>Matt has led the development and deployment of <strong>corgpredicts.ca</strong> by implementing modern web technologies and services.</p>
                    <p>This website is built using a <a href="https://nodejs.org/en/">Node.js</a> stack and is deployed through the <a href="https://www.heroku.com">Heroku</a> service!</p>
                </div>
            </div>

        </div>

    </section>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
             <p class="m-0 text-center text-white">&copy; 2020 - CorgPredicts</p> 
        </div>
        <!-- /.container -->
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        function toggleRows() {
            $(".tableRow").toggle();
            if ($("#showAllRows").html() == "Show all teams") {
                $("#showAllRows").html("Show only first 10 teams")
            } else {
                $("#showAllRows").html("Show all teams")
            }
        }

        //Thanks to: https://stackoverflow.com/questions/14267781/sorting-html-table-with-javascript -- pad start to make 8 < 79 (for example)
        const getCellValue = (tr, idx) => String(tr.children[idx].innerText).padStart(6,'0') || String(tr.children[idx].textContent).padStart(6,'0');

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
          const table = th.closest('table');
          const tbody = table.querySelector('tbody');
          Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr) );})))

        var teamsClicked = 0;
        var team1;
        var team2;
        var stat1;
        var stat2;
        var prev_color1 = null;
        var prev_color2 = null
         // Function for head to head comparison
        document.querySelectorAll('.team-name').forEach(element => element.addEventListener('click', (() => {
            element.style.backgroundColor='red';

            if(teamsClicked===0) {
                team_name1 = element.innerHTML;
                stat1 = Number(element.children[0].innerHTML)
            }
            else if(teamsClicked===1){
                team_name2 = element.innerHTML;
                stat2 = Number(element.children[0].innerHTML)

                // Do corg's a/a+b calculation
                result = stat1 / (stat1+stat2)

                $("#team1").html(team_name1 + ": " + stat1)
                $("#team2").html(team_name2 + ": " + stat2)

                if(team_name1 != team_name2){
                    if(result > 0.5){
                        $("#winner").html("The predicted winner is: " + team_name1 + " with " + String(100*result).slice(0,5) + "% odds!")
                    }
                    else{
                        $("#winner").html("The predicted winner is: " + team_name2 + " with " + String(100*(1-result)).slice(0,5) + "% odds!")
                    }
                    $('#head2head').modal('show');
                    return;
                }else{
                    teamsClicked=1;
                    return
                }

                return;
            }
            teamsClicked++
        })))

        $('#head2head').on('hide.bs.modal', function (e) {
            teamsClicked=0;
            $('td').css({ color: 'inherit', background:'inherit' });
        })

    </script>

</body>

</html>
